<!--CSS import-->
<link rel="stylesheet" href="./style.css" />
<!--JS import-->
<script scr="form.js" defer></script>
<script>
window.location.href = "../nomeProjeForm/index.html";
</script>

<!--JS import-->
<div id="form-add">
 <form class="form-container">
    <span class="form-label">Novo Projeto</span>
      <input 
        class="field" 
        id="nomeForm" 
        type="text" 
        name="nome" 
        placeholder="Nome" 
        />
      <input
        class="field"
        id="descForm"
        type="text"
        name="descricao"
        placeholder="Descrição"
        />
     <input 
       id="autorForm" 
       type="text" 
       name="autor" 
       class="field" 
       placeholder="Autor"
       />

<div class="button-container">
      <input
        id="btn-cancel"
        class="button btn-cancel"
        type="button"
        name="btn-cancelar"
        value="Cancelar"
      />
      <input
        id="btn-salvar"
        class="button btn-salvar"
        type="button"
        name="btn-salvar"
        value="Salvar"
      />
    </div>
  </form>
</div>

