<div class="Week_Post" id="New_Week_add">
    <div class="Form_container">
      <script src="AddWeek.js"></script>
      <h1>Nome do Projeto</h1>
      <div class="entregas">
        <div id="Entrega1" class="entrega-item">
          Entrega Semanal #1
  
          <input
            id="btn_add"
            class="btn-entregas"
            type="button"
            name="btn_adicionar"
            value="+"
          />
        </div>
  
        <div id="Entregas2" class="entrega-item">
          Entrega Semanal #2
  
          <input
            id="btn_remove"
            class="btn-entregas"
            type="button"
            name="btn_remover"
            value="-"
          />
        </div>
  
        <div id="Entregas3" class="entrega-item">
          Entrega Semanal #3
  
          <input
            id="btn_remove"
            class="btn-entregas"
            type="button"
            name="btn_remover"
            value="-"
          />
        </div>
      </div>
  
      <div class="button">
        <input
          id="btn-cancel"
          class="button btn-cancel"
          type="button"
          name="btn-cancelar"
          value="Cancelar"
          onclick="cancelar()"
        />
  
        <input
          id="btn-next"
          class="button btn-next"
          type="button"
          name="btn-next"
          value="Proximo"
          onclick= "proximo()"
        />
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="./style.css" />
  