<!--CSS import-->
<link rel="stylesheet" href="./style.css" />
<link rel="stylesheet" href="../../variables.css" />
<!--JS import-->
<script src="calendarViews.js"></script>
<!--JS import-->
<div class="calendar-template" id="calendar-layout">
  <div class="calendar-day">
    <span class="day-name">Segunda-Feira</span>
    <div class="day-content">
      <div class="day-item">
        <span class="time">12h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
        >
      </div>
    </div>
  </div>
  <div class="calendar-day">
    <span class="day-name">Terça-Feira</span>
    <div class="day-content">      
      <div class="day-item">
      <span class="time">12h30m</span>
      <span class="title">Status: Em andamento</span>
      <span class="descriptio"
        >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
      ></div>
      <div class="day-item">
        <span class="time">14h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Estudar python para projeto particular</span
      ></div>
      <div class="day-item">
        <span class="time">16h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Codar projeto em python para prática da teoria vista</span
      ></div>
    </div>
  </div>
  <div class="calendar-day">
    <span class="day-name">Quarta-Feira</span>
    <div class="day-content">
      <div class="day-item">
      <span class="time">13h10m</span>
      <span class="title">Realizar Tarefa</span>
      <span class="descriptio"
        >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
      ></div>
    </div>
  </div>
  <div class="calendar-day">
    <span class="day-name">Quinta-Feira</span>
    <div class="day-content">
      <div class="day-item">
        <span class="time">12h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
        ></div>
    </div>
  </div>
  <div class="calendar-day">
    <span class="day-name">Sexta-Feira</span>
    <div class="day-content">
      <div class="day-item">
        <span class="time">12h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
        ></div>
    </div>
  </div>
  <div class="calendar-day">
    <span class="day-name">Sábado</span>
    <div class="day-content">
      <div class="day-item">
        <span class="time">12h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
        ></div>
    </div>
  </div>
  <div class="calendar-day">
    <span class="day-name">Domingo</span>
    <div class="day-content">
      <div class="day-item">
        <span class="time">12h30m</span>
        <span class="title">Realizar Tarefa</span>
        <span class="descriptio"
          >Tarefa relacionada ao trabalho de faculdade Scrum Calendar</span
        ></div>
    </div>
  </div>
</div>

