
<div id="form-add">
  <form class="form-container">
     <span class="form-label">Adicionar</span>
       <input 
         class="btn" 
         id="btn-proj" 
         type="button" 
         name="nome" 
         value="Projeto"
         />
       <input
         class="btn"
         id="btn-rotin"
         type="button"
         name="descricao"
         value="Rotina"
         />
      <input 
        id="btn-event" 
        type="button" 
        name="autor" 
        class="btn" 
        value="Evento"
        />
 

   </form>
 </div>

 
 <link rel="stylesheet" href="./style.css" />
