<!--CSS import-->
<link rel="stylesheet" href="./style.css" />
<!--JS import-->

script
<!--JS import-->
<div id="form-add">
 <form class="form-container">
    <span class="form-label">Nome Projeto</span>
      <input 
        class="field" 
        id="dateForm" 
        type="date" 
        name="date" 
        placeholder="Data" 
        />
      <input
        class="field"
        id="tempForm"
        type="text"
        name="tempo-alocado"
        placeholder="Tempo Alocado"
        />
     <input 
       id="prioriteForm" 
       type="text" 
       name="priorite" 
       class="field" 
       placeholder="Prioridade"
       />

<div class="button-container">
      <input
        id="btn-cancel"
        class="button btn-cancel"
        type="button"
        name="btn-cancelar"
        value="Cancelar"
      />
      <input
        id="btn-salvar"
        class="button btn-salvar"
        type="button"
        name="btn-salvar"
        value="Salvar"
      />
    </div>
  </form>
</div>

