<!--CSS import-->
<link rel="stylesheet" href="./style.css" />
<!--JS import-->
<script src="formAddView.js"></script>
<script>
  window.location.href = "../novoProjeForm/index.html";
</script>
<!--JS import-->


<div class="form-adicionar" id="form-add">
  <form class="form-container">
     <span class="form-label">Adicionar</span>
       <input 
         class="btn" 
         id="btn-proj" 
         type="button" 
         name="nome" 
         value="Projeto"
         />
       <input
         class="btn"
         id="btn-rotin"
         type="button"
         name="descricao"
         value="Rotina"
         />
      <input 
        id="btn-event" 
        type="button" 
        name="autor" 
        class="btn" 
        value="Evento"
        />
   </form>
 </div>